.citiesContainer {
  display: flex;
  width: auto;
  overflow-y: hidden;
  overflow-x: auto;
  height: 100%;
  padding-bottom: 10px;

  @media (max-width: 768px) {
    margin: 0 15px;
    gap: 20px;
    flex-direction: column;
  }

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: #1c2b45;
    border-radius: 10px;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #4e6d91;
    border-radius: 10px;
    border: 3px solid #1c2b45;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background-color: #3c5a7c;
  }

  .cityCard {
    background-color: #fff;
    margin: 0 10px;
    height: 366px;
    min-width: 270px;
    padding: 40px 30px;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;

    @media (max-width: 768px) {
      min-width: 100%;
      padding: 30px;
      margin: 0;
      overflow: hidden;
      height: auto;

      &:first-child {
        margin: 0;
      }
    }

    h3,
    p {
      margin: 0;
      padding: 0;
    }

    h3 {
      color: #53627c;
      font-size: 21px;
      margin-bottom: 15px;
    }

    .tempText {
      position: relative;
      color: #1e2432;
      font-size: 70px;
      font-weight: 600;
    }

    span {
      position: absolute;
      color: #1e2432;
      top: 10px;
      font-weight: 400;
      font-size: 40px;
    }

    img {
      max-width: 50%;
      margin-left: -15px;
      margin-bottom: 30px;
    }

    .condText {
      color: #53627c;
      text-transform: uppercase;
      max-width: 150px;
      width: auto;
      font-size: 12px;
      letter-spacing: 0.8px;
    }

    .closeIcon {
      position: absolute;
      cursor: pointer;
      top: 10px;
      right: 10px;
    }
  }
}