.container {
  display: block;
  margin: 0 auto;
  width: 85%;

  @media (max-width: 768px) {
    width: 100%;
  }

  .appTitle {
    font-size: 48px;
    font-weight: 600;
    margin-left: 15px;

    @media (max-width: 768px) {
      font-size: 34px;
    }
  }

  .infoError {
    background-color: #ff4d4f;
    color: #fff;
    padding: 10px 15px;
    border-radius: 6px;
    font-size: 0.9rem;
    margin-bottom: 15px;
    display: inline-block;
    max-width: 60%;

    @media (max-width: 768px) {
      max-width: 100%;
      margin: 5px; 
    }
  }
}